<div id="header-wrapper">
  <div id="header-left">
    <span id="logo-hn"  [routerLink]="['/topstories']"></span >&#8239;&#8239;&#8239;
    <a [routerLink]="['/topstories']" routerLink="active"><strong>Hacker News</strong></a>
    <span>&#8239;&#8239;&#8239;</span>&#8239;&#8239;
    <a [routerLink]="['/newstories']" routerLinkActive="router-link-active">new</a>
    <span>&#8239;&#8239;&#8239;</span>&#8239;&#8239;
    <a [routerLink]="['/askstories']" routerLinkActive="router-link-active">ask</a>
    <span>&#8239;&#8239;&#8239;</span>|&#8239;&#8239;
    <a [routerLink]="['/showstories']" routerLinkActive="router-link-active">show</a>
    <span>&#8239;&#8239;&#8239;</span>|&#8239;&#8239;
    <a [routerLink]="['/jobstories']" routerLinkActive="router-link-active">jobs</a>
  </div>
</div>